.woocommerce-loop-product__title:nth-child(2) {
    display: none;
    opacity: 0;
}

 
.woocommerce-LoopProduct-link .child-container:nth-child(2),
.woocommerce-LoopProduct-link .child-container:last-child {
    display: none;
}