         body {
             display: flex;
             align-items: center;
             justify-content: center;
         }
         
         .container {
             width: 250px;
             height: 250px;
             background-color: #eee;
             position: relative;
         }
         
         .container>div {
             border-radius: 20px;
         }
         
         .head {
             height: 100px;
             left: 160px;
             width: 60px;
             background: darkblue;
             top: 20px;
             position: absolute;
             z-index: 1;
             transform: rotate(10deg);
         }
         
         .dog-body {
             width: 160px;
             height: 90px;
             background: gray;
             position: absolute;
             left: 40px;
             top: 105px;
         }
         
         .front-legs {
             background-color: rebeccapurple;
             height: 70px;
             width: 20px;
             position: absolute;
             left: 190px;
             top: 180px;
             transform: rotate(-15deg);
         }
         
         .back-legs {
             background-color: royalblue;
             height: 60px;
             width: 20px;
             left: 35px;
             top: 185px;
             position: absolute;
             transform: rotate(25deg);
         }
         
         .tail {
             background-color: brown;
             height: 40px;
             width: 40px;
             position: absolute;
             z-index: 1;
             left: 14px;
             top: 80px;
         }