body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row
}

.header {
    margin: 20px;
}

.container {
    width: 376px;
    height: 372px;
    background-color: #eee;
    position: relative;
}

.container>div {
    background-size: contain;
    background-repeat: no-repeat;
}

.head {
    height: 190px;
    left: 160px;
    width: 236px;
    background-image: url(https://cdn.glitch.com/1cb2283b-ff8b-4340-9e0b-87056fafb6d8%2Fhead.png?v=1604054341126);
    top: 0px;
    position: absolute;
    z-index: 5;
    background-repeat: no-repeat;
}

.dog-body {
    width: 160px;
    height: 90px;
    position: absolute;
    left: 80px;
    background-image: url(https://cdn.glitch.com/1cb2283b-ff8b-4340-9e0b-87056fafb6d8%2Fbody.png?v=1604054343119);
    top: 105px;
    z-index: 2;
    background-size: contain;
}

.front-leg-right {
    background-size: contain;
    height: 88px;
    width: 89px;
    position: absolute;
    left: 245px;
    top: 168px;
    background-image: url(https://cdn.glitch.com/1cb2283b-ff8b-4340-9e0b-87056fafb6d8%2Fright-start-leg.png?v=1604054341791);
}

.front-leg-left {
    background-size: contain;
    height: 88px;
    width: 89px;
    position: absolute;
    left: 218px;
    top: 168px;
    background-image: url(https://cdn.glitch.com/1cb2283b-ff8b-4340-9e0b-87056fafb6d8%2Fleft-start-leg.png?v=1604054341297);
}

.back-leg-left {
    height: 100px;
    width: 120px;
    left: 46px;
    top: 165px;
    position: absolute;
    background-image: url(https://cdn.glitch.com/1cb2283b-ff8b-4340-9e0b-87056fafb6d8%2Fback-left-leg.png?v=1604054342410);
}

.back-leg-right {
    left: 77px;
    top: 165px;
    position: absolute;
    background-image: url(https://cdn.glitch.com/1cb2283b-ff8b-4340-9e0b-87056fafb6d8%2Fback-leg.png?v=1604054342843);
    height: 99px;
    width: 120px;
}

.tail {
    left: 83px;
    top: 67px;
    position: absolute;
    z-index: 1;
    left: 80px;
    top: 58px;
    background-image: url(https://cdn.glitch.com/1cb2283b-ff8b-4340-9e0b-87056fafb6d8%2Ftail.png?v=1604054341878);
    background-size: contain;
}