.stick {
    width: 20px;
    height: 150px;
    animation: moving 4s ease-out;
    background-color: grey;
}


/* how to do rotate several times */

@keyframes moving {
    15% {
        transform: rotate(15deg);
        margin-left: calc(15px * 2);
    }
    25% {
        transform: rotate(25deg);
        margin-left: calc(25px * 2);
    }
    30% {
        transform: rotate(35deg);
        margin-left: calc(30px *2);
    }
    40% {
        transform: rotate(45deg);
        margin-left: calc(40px * 2);
    }
    50% {
        transform: rotate(50deg);
        margin-left: calc(50px * 2);
    }
    60% {
        transform: rotate(60deg);
        margin-left: calc(90px * 1.2);
        background-color: orange;
    }
    80% {
        transform: rotate(72deg);
        margin-left: calc(110px * 1.2);
    }
    85% {
        transform: rotate(85deg);
        margin-left: calc(130px * 1.2);
    }
    95% {
        transform: rotate(92deg);
        margin-left: calc(180px * 1.3);
    }
    100% {
        transform: rotate(95deg);
        margin-left: calc(190px * 1.2);
        background-color: purple;
    }
}